---
import Button from "./Button.astro";
---

<Button variant={"primary"} className={"min-w-max text-white"}>
  <a href="mailto:tek.solutions.consultants@gmail.com" class="flex relative z-[5] text-center">Conect With Us</a>
</Button>
